.home-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100vh; /* Asegura que el contenedor tenga una altura mínima de pantalla completa */
}

.home-banner-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem; /* Espaciado alrededor */
    width: 100%; /* Ancho completo */
    height: auto; /* Altura fija */
    position: relative; /* Para el fondo */
}

.home-text-section {
    max-width: 35%;
    text-align: center;
    padding: 20px;
}

.primary-heading-inventario {
    font-size: 50px;
    font-weight: bold;
    margin: 1rem 0; /* Espaciado vertical */
}

.primary-text-inventario {
    font-size: 26px;
}

.secondary-button-inventario {
    display: flex;
    justify-content: center; /* Centra el contenido dentro del botón */
    width: 100%; /* Ancho completo */
    padding: 10px 20px; /* Espaciado interno del botón */
    margin-top: 20px; /* Añade margen arriba para separación */
    text-align: center; /* Centra el texto dentro del botón */
}

.home-image-section {
    max-width: 60%; /* Ancho del contenedor de la imagen */
    height: auto;
    display: flex; /* Flexbox para la imagen */
    justify-content: center; /* Centra la imagen */
}

.home-image-section img {
    width: 100%; /* La imagen ocupa el 100% del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: contain; /* Asegura que la imagen se ajuste sin recortes */
}

.home-background-container {
    position: absolute; /* Para colocar el fondo */
    top: 0; /* Coloca el fondo en la parte superior */
    right: 0; /* Coloca el fondo a la izquierda */
    width: 55vw; /* Ancho completo */
    z-index: -1; /* Envía el fondo detrás del contenido */
}

.background-image {
    width: 120%; /* Ancho completo del fondo */
    object-fit: cover; /* Cubre todo el contenedor sin deformar */
}


/* Ajustes para pantallas medianas y pequeñas */
@media (max-width: 1024px) {
    .home-banner-container {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        align-items: center; /* Centra horizontalmente */
        justify-content: center; /* Centra verticalmente */
    }

    .home-text-section {
        max-width: 70%; /* Aumenta el ancho máximo para tabletas */
        margin: 0 auto; /* Asegura que se centre el contenedor */
        text-align: center; /* Centra el texto */
    }

    .primary-heading-inventario {
        font-size: 40px; /* Ajusta el tamaño del texto */
    }

    .primary-text-inventario {
        font-size: 22px; /* Ajusta el tamaño del texto */
    }

    .home-image-section {
        max-width: 80%; /* Reduce el tamaño de la imagen */
        margin: 20px auto; /* Añade margen para separar de otros elementos */
    }
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .home-banner-container {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        align-items: center; /* Centra horizontalmente */
        justify-content: center; /* Centra verticalmente */
    }

    .home-text-section {
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .primary-heading-inventario {
        font-size: 32px;
    }

    .primary-text-inventario {
        font-size: 18px;
    }

    .secondary-button-inventario {
        display: flex;
        justify-content: center; /* Centra el botón */
        width: 100%; /* Asegura que el botón ocupe el ancho completo */
        margin-top: 20px; /* Añade margen arriba para separación */
        margin-left: 10rem;
    }

    .home-image-section {
        max-width: 100%; /* Reduce el tamaño de la imagen */
        margin: 20px auto; /* Añade margen para separar de otros elementos */
    }

    .home-background-container {
        width: 100%; /* Fondo ocupa el 100% en pantallas pequeñas */
        height: 50%; /* Ajusta la altura para evitar que tape el contenido */
    }
}
