.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.nav-logo-container {
    display: flex;
    align-items: center;
}

.navbar-logo-image {
    width: 80px;
    height: auto; /* Mantiene la proporción del logo */
}

.navbar-title {
    color: black;
    font-weight: bold;
    font-size: 5rem; /* Tamaño de fuente para pantallas grandes */
    margin-left: 10px; /* Espaciado entre logo y texto */
}

.navbar-links-container {
    color: black;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap; /* Permite que los enlaces se envuelvan */
    margin-left: 5rem;
}

.navbar-links-container a {
    margin: 0 1rem; /* Espaciado entre enlaces */
    text-decoration: none;
    color: black;
}

.navbar-login-button {
    font-size: 2rem; /* Tamaño de fuente más pequeño */
}

.navbar-menu-container {
    display: none; /* Oculto por defecto */
}

.navbar-menu-container svg {
    font-size: 1.5rem;
    cursor: pointer;
}

/* Ajustes para pantallas medianas (tablet) */
@media (max-width: 1024px) {
    .navbar-title {
        font-size: 3rem; /* Tamaño de fuente reducido para tabletas */
    }

    .navbar-links-container {
        margin-left: 2rem; /* Espacio reducido entre el contenedor y los enlaces */
        font-size: 1.5rem; /* Tamaño de fuente reducido */
    }

    .nav-logo-container .navbar-logo-image {
        width: 60px; /* Ajusta el tamaño del logo para tabletas */
    }

    .navbar-login-button {
        font-size: 1.5rem; /* Tamaño de fuente reducido para el botón de login */
    }
}

/* Oculta los enlaces en pantallas pequeñas */
@media (max-width: 768px) { /* Cambia el valor según tu diseño */
    .navbar-links-container {
        display: none; /* Oculta los enlaces */
    }

    .navbar-menu-container {
        display: flex;
        align-items: center; /* Alinea verticalmente */
        justify-content: flex-end; /* Alinea a la derecha */
        padding: 1rem; /* Espacio alrededor del icono */
    }

    .navbar-title {
        font-size: 1.5rem; /* Reduce el tamaño de fuente */
    }

    .nav-logo-container .navbar-logo-image {
        width: 50px; /* Ajusta el tamaño del logo */
    }

    .navbar-login-button {
        font-size: 0.8rem; /* Tamaño de fuente más pequeño */
    }
}

/* Muestra los enlaces en pantallas grandes */
@media (min-width: 769px) {
    .navbar-menu-container {
        display: none; /* Oculta el icono de menú en pantallas grandes */
    }
}
