:root {
  --background: #1F2336;
  --box-background: #0e0d0d;
  --secondary: #F1F1F1;
  --primary: #F4BD50;
}

body{
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #265073;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #fdfdfd;
}

.login-card {
  width: 50vw;
  padding: 70px;
  border-radius: 20px 80px 80px 20px;
  background: #19191a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card h2 {
  font-size: 55px;
  font-weight: 100px;
  margin: 10px 0;
  margin-bottom: 40px;
  text-align: center;
}

.container-logo {
  width: 32vw; /* ajusta el tamaño del contenedor del logo */
  height: 80vh; /* ajusta el tamaño del contenedor del logo */
  display: flex; /* haz que el contenedor del logo sea flexible */
  justify-content: center; /* centra el logo horizontalmente */
  align-items: center; /* centra el logo verticalmente */
  background-color: #ffffff; /* agrega un fondo blanco para que el logo se vea mejor */
  border-radius: 60px 0 0 60px;
}

.logo {
  width: 100%;
  padding: 3vh 3vh;
  margin: 0 3vh;
  transition: 200ms;
}

.logo:hover {
  width: 380px;
}

.login-form {
  width: 100%;
  max-width: 400px;
  background: #19191a;
}

.input__wrapper {
  width: 100%;
  position: relative;
  padding: 15px 0 0;
}

.input__label {
  position: absolute;
  top: 19px;
  padding: 0 4px;
  display: block;
  font-size: 2rem;
  left: 8px;
  color: var(--secondary);
  transition: 0.3s;
  background: #19191a;
}

.input__field {
  width: 100%; /*Ancho del Input*/
  padding: 15px; /*Largo del Input*/
  font-size: 1rem;
  margin-bottom: 10px;
  max-width: 100%; /*Para que sea Responsive sin que se salga*/
  outline: 1.5px solid var(--secondary);
  border-radius: 8px;
  color: var(--secondary);
  border:none;
  padding-right: 32px;
  background: transparent;
  transition: all 0.2s;
}

.input__field::placeholder{
  color: transparent;

}

.input__field:focus::placeholder,
.input__field:not(:placeholder-shown)::placeholder {
  opacity: 0; 
}

.input__field:focus,
.input__field:not(:placeholder-shown) {
  font-size: 1.5rem; 
}

.input__field:focus ~ .input__label,
.input__field:not(:placeholder-shown) ~ .input__label {
  top: -1px; 
  font-size: 1.5rem; 
  color: var(--primary); 
  background: #19191a;

}

.btn-login {
  width: 100%;
  height: 56px;
  margin-top: 20px;
  background: #0079ea;
  color: white;
  text-align: center;
  border-radius: 16px;
  font-size: 20px;
  font-weight: bold;
  border-color: #0079ea;
}

@media screen and (max-width: 480px) {
  .page {
    flex-direction: column;
  }

  .login-card {
    width: 80%;
    border-radius: 20px 20px 80px 80px;
  }

  .container-logo {
    width: 20%;
    height: auto;
    border-radius: 60px 60px 0 0;
    margin-top: 0.5em;
  }

  .logo {
    width: 20%;
  }

  .logo:hover {
    width: 16%;
  }

  .login-card {
    padding: 40px;
  }

  .content h2 {
    font-size: 25px;
  }

  .input__label {
    font-size: 1rem;
  }

  .input__field {
    font-size: 1rem;
  }

  .input__field:focus ~ .input__label,
  .input__field:not(:placeholder-shown) ~ .input__label {
    font-size: 1rem;
  }

  .btn-login {
    width: 100%;
    height: 40px;
    font-size: 1rem;
  }
}


/* Para pantallas de hasta 768px de ancho */
@media screen and (max-width: 768px) {
  .page {
    flex-direction: column;
  }

  .login-card {
    width: 95%;
    border-radius: 20px 20px 80px 80px;
  }

  .container-logo {
    width: 85%;
    height: auto;
    border-radius: 60px 60px 0 0;
  }

  .logo {
    width: 50%;
  }

  .logo:hover {
    width: 46%;
  }

  .input__label {
    font-size: 1.5rem;
  }

  .input__field {
    font-size: 1rem;
  }

  .input__field:focus ~ .input__label,
  .input__field:not(:placeholder-shown) ~ .input__label {
    font-size: 1rem;
  }

  .btn-login {
    width: 100%;
    height: 40px;
    font-size: 1rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .login-card {
    width: 100%;
  }

  .container-logo {
    width: 90%;
    height: 45%;
  }

  .logo {
    width: 100%;
  }

  .logo:hover {
    width: 96%;
  }

  .login-card {
    padding: 85px;
  }

  .input__label {
    font-size: 1.5rem;
  }

  .input__field {
    font-size: 1.5rem;
  }

  .input__field:focus ~ .input__label,
  .input__field:not(:placeholder-shown) ~ .input__label {
    font-size: 1.5rem;
  }

  .btn-login {
    width: 100%;
    height: 40px;
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .page {
    font-size: 1.5rem;
  }
  .login-card {
    width: 100%;
    height: 55%;
  }

  .container-logo {
    width: 90%;
    height: 45%;
  }

  .logo {
    width: 100%;
  }

  .logo:hover {
    width: 96%;
  }

  .login-card {
    padding: 85px;
  }

  .input__label {
    font-size: 1.5rem;
  }

  .input__field {
    font-size: 1.5rem;
  }

  .input__field:focus ~ .input__label,
  .input__field:not(:placeholder-shown) ~ .input__label {
    font-size: 1.5rem;
  }

  .btn-login {
    width: 100%;
    height: 40px;
    font-size: 1.3rem;
  }
}