* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #12131a;
    font-family: "Euclid Circular A";
}

#buttonsSide {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    text-align: left;
}

.sidebar {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* width: 260px; */
    width: 55px;
    height: 100%;
    /* padding: 0 16px; */
    background: #4a6eb0;
    border-right: 1px solid #2e303e;
    transition: width 0.3s;
    z-index: 1000;
}

.sidebar.open {
    width: 260px;
    padding: 0 16px;
    transition: width 0.4s;
}

.sidebar-header {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 1.25rem 0 0;
    border-bottom: 1px solid #2e303e;
    color: #e1ecff;
}

.sidebar .sidebar-header #buttonsSide {
    width: 54px;
}

.user {
    display: flex;
    flex-direction: row;
    /* gap: 4px; */
    width: 100%;
    height: 80px;
    align-items: center;
    text-align: center;
}

.user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.user .name {
    display: flex;
    flex-direction: column;
}

.user .name h5 {
    color: #fff;
    font-size: 12px;
    margin-bottom: 0.5rem;
    margin-top: 0;
}

.user .name span {
    color: #fff;
    font-size: 11px;
}

.sidebar-logo {
    height: 20px;
}

.sidebar #buttonsSide {
    position: relative;
    display: flex;
    gap: 16px;
    align-items: center;
    height: 50px;
    width: 100%;
    border-radius: 8px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    padding: 0 16px;
    color: #e1ecff;
    transition: background 0.3s;
}

.sidebar #buttonsSide span:nth-child(2) {
    flex: 1 1 auto;
}

/* --- */
.sidebar #buttonsSide>span:nth-child(3) {
    margin-left: auto;
}

.sidebar #buttonsSide:is(.active, :hover) {
    background: #004fee;
    color: #e1ecff;
}

.sidebar #buttonsSide span {
    transition: 0.3s;
}

.sidebar #buttonsSide.active>span:nth-child(3) {
    rotate: -180deg;
}

.sidebar #buttonsSide:not(.active):hover {
    background: #2e303e;
}

.sub-nav #buttonsSide.active::before {
    background: #e1ecff;
}

.sub-nav {
    overflow: hidden;
    /* height: 0; */
    transition: 0.5s;
}

.sub-nav #buttonsSide {
    padding-left: 54px;
}

.sub-nav #buttonsSide::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 25px;
    translate: 0 -50%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #e1ecff;
}

.material-symbols-outlined {
    font-size: 22px;
}