/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
html {
  font-size: 14px;
}

body {
  font-family: var(--font-family);
  font-weight: normal;
  background: var(--surface-ground);
  color: var(--text-color);
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.containerTable {
  margin-left: 18rem; /* Ajusta el margen izquierdo para dejar espacio para la barra lateral */
}
.map{
  /* background-color: #2d717f; */
  /* background-color: #3d91a0; */
  background-color: #265073;
}
.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  z-index: 999; /* Ajusta el valor del z-index según sea necesario */
}

.p-datatable .p-datatable-header {
  background: linear-gradient(to right, #e2dfdf, #e9e7e7d2);

}
/* 
.p-datatable .p-datatable-wrapper .p-datatable-table .p-datatable-thead {
  background-color: #c9c4c4;
} */
/* 
.p-datatable-thead tr {
  background-color: red;
}

.p-datatable-wrapper tr {
  background: #cccccc;
} */

/* .p-paginator-page {
  background-color: red;
}

.p-dropdown {
  background-color: red;
} */

.p-datatable .p-paginator {
  background: #f3f0f0d2;
  /* background: rgba(221, 217, 217, 0.824); */

}