html {
  font-size: 14px;
}

body {
  font-family: var(--font-family);
  font-weight: normal;
  background: var(--surface-ground);
  color: var(--text-color);
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.map {
  background-color: #265073;
}

.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  z-index: 999;
}

.p-datatable .p-datatable-header {
  background: linear-gradient(to right, #e2dfdf, #e9e7e7d2);
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.header-title {
  margin: 0;
  text-align: left;
}

.header-search {
  width: auto;
}

.toolbar-datatable {
  background: linear-gradient(rgba(221, 217, 217, 0.824), #f3f0f0d2);
  border: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.export-dropdown {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
}

.export-dropdown .p-dropdown {
  min-width: 120px;
  width: auto; /* Deja que el dropdown se ajuste automáticamente */
}

@media (max-width: 768px) {
  .p-datatable .p-datatable-header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .header-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .header-title {
    text-align: center;
    margin-bottom: 1rem;
  }

  .header-search {
    width: 100%;
    margin-top: 0.5rem; /* Espacio entre el título y el input */
  }

  .p-input-icon-left {
    width: 100%; /* El input de búsqueda ocupa todo el ancho */
    margin-top: 0.5rem; /* Agrega espacio entre los elementos */
  }

  .header-search .p-inputtext {
    width: 100%;
    font-size: 16px;
    padding: 0.5rem;
  }

  .toolbar-datatable {
    flex-direction: column; /* Apilar elementos en pantallas pequeñas */
    align-items: flex-start; /* Alinear elementos al inicio */
    width: 100%;
  }

  .export-dropdown {
    /* width: 100%; Asegurar que ocupe el ancho completo */
    justify-content: center; /* Centrar el dropdown en pantallas pequeñas */
    flex-direction: column; /* Apilar el dropdown y el texto de exportación */
    align-items: center; /* Alinear elementos en el centro */
  }

  .export-dropdown span {
    margin-bottom: 0.5rem; /* Espacio entre el texto y el dropdown */
  }

  .export-dropdown .p-dropdown {
    width: auto; /* Asegura que el dropdown ocupe todo el ancho */
    min-width: 120px;
  }
}

.p-datatable .p-paginator {
  background: #f3f0f0d2;
}

.dialog-btn-cancel:hover {
  background: #f83b3b;
  color: #e2dfdf;
  /* transition: 5ms; */
}

.dialog-btn-confirm {
  background: #0d56df;
}

.dialog-btn-confirm:hover {
  background: #2867dd;
}

.confirm-dialog-delete {
  color: #0D9276;
}

.confirm-dialog-delete:hover {
  background-color: #0D9276;
  color: #e2dfdf;
}

/* Ocultar el canvas que se crea automáticamente */
canvas.drawingBuffer {
  display: none;
  /* Ocultar el canvas para evitar el espacio en blanco */
}

/* Ajustar el contenedor del escáner */
#qrReaderRef {
  overflow: hidden;
  /* Evitar que se genere espacio adicional */
}

/* Mejorar el diseño general */
.scanner-frame {
  border: 2px dashed rgba(255, 0, 0, 0.8);
  /* Estilo del marco */
  border-radius: 8px;
  /* Bordes redondeados */
  pointer-events: none;
  /* No permite interacciones */
}

.scanner-line {
  position: absolute;
  top: 50%;
  /* Línea en el centro vertical */
  left: 10%;
  /* Margen izquierdo */
  right: 10%;
  /* Margen derecho */
  height: 2px;
  /* Altura de la línea */
  background-color: red;
  /* Color de la línea */
  transform: translateY(-50%);
  /* Centrar verticalmente */
  z-index: 10;
  /* Asegúrate de que esté por encima del video */
  width: '100%';
  /* Ajustar el ancho de la línea de referencia */
  margin: '0 auto';
  /* Centrar la línea de referencia */
  animation: scan 2s linear infinite;
}

@keyframes scan {
  0% {
    top: 0;
  }

  100% {
    top: 100%;
  }
}